<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>track-location</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map" *ngIf="waypointSet">
  </div>
  <div class="directions" *ngIf="waypointSet">
    <form>
      <ion-item>
        <ion-label>From:</ion-label>
        <ion-label text-wrap>{{ item.sellerLocation }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>To:</ion-label>
        <ion-label text-wrap>{{ item.buyerLocation }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estimated Distance:</ion-label>
        <ion-label>{{ distance }} Miles</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Required time:</ion-label>
        <ion-label>{{ time }} minutes</ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>Estimated Time of Arrival:</ion-label>
        <ion-label text-wrap>{{ eta }}</ion-label>
      </ion-item>
    </form>
  </div>
  <div *ngIf="!waypointSet">
    <ion-label>The seller has not set the route of the shipment yet!</ion-label>
  </div>
  <button class="button-white" (click)="checkRequests()">Check requests</button>
</ion-content>
