
<ion-header>
  <ion-navbar>
    <ion-title>Ship-location</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="directions">
    <ion-label>From: {{ item.sellerLocation }}</ion-label>
    <ion-label>To: {{ item.buyerLocation }}</ion-label>
    <ion-label>Your nearest waypoint: {{userAcc.getNearestWaypoint()}}</ion-label>
  </div>
  <ng-container *ngIf="!!item.route">
  <ng-container *ngIf="item.route.checkActiveRequest()!=null">
    <button class="button-white" (click)="checkRequest(item.route.checkActiveRequest())">Check your request</button>
  </ng-container>
  <ng-container *ngIf="item.route.checkActiveRequest()==null">
    <button class="button-white" (click)="createRequest()">Create request</button>
  </ng-container>
  </ng-container>
  <!-- <ion-icon name="qr-code" (click)="showProof()"></ion-icon> -->
  <div id="map">
  </div>

  <button class="button-white" (click)="resetRoute()">Reset and generate new route</button>
  <button class="button-white" (click)="finishShipping()">Finish shipment</button>
</ion-content>
