page-request-list {
  .item-list {
    display: flex;
    flex-direction: row;
    border-color: black;
    border-width: 5px;
    color: #295873;
    padding: 20px;
    .item-info1 {
      flex: 50% 0 0;
    }
    .item-info2 {
      flex: 1;
    }
  }
  .item-list2 {
    display: flex;
    flex-direction: row;
    border-color: black;
    border-width: 5px;
    color: #295873;
    padding: 20px;
    button {
      width: 200px;
      font-size: 30px;
    }
  }
  .line-break {
    display: block;
    height: 2px;
    background-color: #1D3F53;
  }
}
