page-user-role-select {
  ion-label {
    font-size: 20px;
    text-align: center;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .main-button {
      height: auto;
      border: 2.5pt solid;
      border-radius: 0px;
      width: 350px;
      padding: 10px 20px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      ion-label {
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
}
